{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <title>{% block titulo %}{% endblock %}Blog do Carlos</title>
    {% include 'parciais/_head.html' %}
</head>

<body>

{% include 'parciais/_nav.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block conteudo %}{% endblock %}
        </div>
    </div>
</div>

{% include 'parciais/_footer.html' %}
</body>

</html>
